/*  El . (punto es para hacer referenca a las clases  */
:root{
    --blanco: #ffffff;
    --oscuro: 212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #b6b6b6;
}

html{
    font-size: 62.5%;
    font-family: 'Alegreya', sans-serif;
   
}
body{
    font-size: 16px;
    background:linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);/*es un degradado*/
}

.title{
    
    text-align: center;
}
.title span{
    font-size: 2rem;
    font-style: italic;
    color:#8a00ca  ;
}

.navegador-principal{
    padding: 1rem;
    display: flex;
    justify-content: space-between;/*justify content para Filas*/
    align-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: row;
    align-items: center;
    
}
@media (mid-width: 768px){
  .navegador-principal{
      flex-direction: row;
      justify-content: flex-start;
  }
}
.navegador-principal a{
    color: var(--blanco);
    text-decoration: none; /* Quita el subrayado */
    padding: 1rem;
}
.navegador-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.nav-bg{
    background-color: var(--secundario);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.hero{
    background-image: url( ../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 450px;
    position: relative; 
    
}
.contenido-hero{
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,.7); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero a{
    color: #ffffff;
   text-decoration: none; /* Quita el subrayado */
   font-size: 2rem;
   border: 2px solid #ffffff;
   padding: 1rem 2rem;
   background-color: var(--secundario);
    
}
.contenido-hero h1{
    color:#ffffff 
}
.contenido-hero p{
    color:#ffffff ;
}
h1{
    font-size: 3.8rem;
    text-align: center;
}
h2{
    font-size: 2.8rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    text-align: center;
}
.ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
}   
